.button {
    background: #8106A9;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 12px;

    font-family: Montserrat;
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
    width: 200px;
    height: 40px;
    margin-right: 20px;

    flex: auto;
    margin-top: 35px;
}