#offer {
    height: 320px;
    background: #FFFFFF;
    border-radius: 16px;
    margin-top: 180px;
}

#offerBigTxt{
    width: 500px;
    margin-top: 72px;
    margin-left: 32px;
    margin-right: 32px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;

    color: #000000;
}

#offerTxt{
    width: 500px;
    margin-top: 16px;
    margin-left: 32px;
    margin-right: 32px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
}