.Head{
    background: #8106A9;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 100px;
}

img {
    width: 40px;
}

.logoTxt {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: #FFFFFF;
}

.headContainer {
    height: 100px;
}

.emailBack {
    background: #54026E;
    border-radius: 12px;
    width: 100%;
    height: 40px;
}

.emailFront {
    background: #FFFFFF;
    border-radius: 12px;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
}

#emailTxt {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    align-items: center;
    text-align: center;
    padding-top: 8px;
}

#imgLogo {
    height: 40px;
    width: auto;
}