#loginPanel {
    margin-top: 180px;

    height: 320px;
    width: 570px;
    background: #FFFFFF;
    border: 3px solid #8106A9;
    box-sizing: border-box;
    box-shadow: 5px 9px 5px rgba(0, 0, 0, 0.5);
    border-radius: 16px;
}

input {
    width: 95%;
    background: #FFFFFF;
    border: 2px solid #8106A9;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px;
    font-size: 22px;
    height: 40px;
}

.logForm {
    margin-top: 25px;
    font-size: 22px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

label {
    margin-bottom: 5px;
}